<div>
  <h2 id="page-heading" data-cy="EquipamentoHeading">
    <span jhiTranslate="madmApp.equipamento.home.title">Equipamentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="madmApp.equipamento.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-equipamento"
        [routerLink]="['/equipamento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="madmApp.equipamento.home.createLabel"> Create a new Equipamento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="equipamentos?.length === 0">
    <span jhiTranslate="madmApp.equipamento.home.notFound">No equipamentos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="equipamentos && equipamentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.numeroPatrimonio">Numero Patrimonio</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.numeroSerie">Numero Serie</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.categoria">Categoria</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.fabricante">Fabricante</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.modelo">Modelo</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.dataManutencao">Data Manutencao</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.estadoConservacao">Estado Conservacao</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.funcionando">Funcionando</span></th>
          <th scope="col"><span jhiTranslate="madmApp.equipamento.responsavel">Responsavel</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipamento of equipamentos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/equipamento', equipamento.id, 'view']">{{ equipamento.id }}</a>
          </td>
          <td>{{ equipamento.numeroPatrimonio }}</td>
          <td>{{ equipamento.numeroSerie }}</td>
          <td jhiTranslate="{{ 'madmApp.TipoCategoria.' + equipamento.categoria }}">{{ equipamento.categoria }}</td>
          <td>{{ equipamento.fabricante }}</td>
          <td>{{ equipamento.modelo }}</td>
          <td>{{ equipamento.dataManutencao | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'madmApp.TipoEstadoConservacao.' + equipamento.estadoConservacao }}">{{ equipamento.estadoConservacao }}</td>
          <td>{{ equipamento.funcionando }}</td>
          <td>
            <div *ngIf="equipamento.responsavel">
              <a [routerLink]="['/responsavel', equipamento.responsavel?.id, 'view']">{{ equipamento.responsavel?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/equipamento', equipamento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/equipamento', equipamento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(equipamento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
