<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-servico-heading" data-cy="ServicoCreateUpdateHeading" jhiTranslate="madmApp.servico.home.createOrEditLabel">
        Create or edit a Servico
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.servico.codServico" for="field_codServico">Cod Servico</label>
          <input
            type="text"
            class="form-control"
            name="codServico"
            id="field_codServico"
            data-cy="codServico"
            formControlName="codServico"
          />
          <div *ngIf="editForm.get('codServico')!.invalid && (editForm.get('codServico')!.dirty || editForm.get('codServico')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codServico')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.servico.tipoServico" for="field_tipoServico">Tipo Servico</label>
          <select class="form-control" name="tipoServico" formControlName="tipoServico" id="field_tipoServico" data-cy="tipoServico">
            <option [ngValue]="null">{{ 'madmApp.TipoServico.null' | translate }}</option>
            <option *ngFor="let tipoServico of tipoServicoValues" [value]="tipoServico">
              {{ 'madmApp.TipoServico.' + tipoServico | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('tipoServico')!.invalid && (editForm.get('tipoServico')!.dirty || editForm.get('tipoServico')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoServico')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.servico.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
          <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descricao')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.servico.dataServico" for="field_dataServico">Data Servico</label>
          <div class="input-group">
            <input
              id="field_dataServico"
              data-cy="dataServico"
              type="text"
              class="form-control"
              name="dataServico"
              ngbDatepicker
              #dataServicoDp="ngbDatepicker"
              formControlName="dataServico"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataServicoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('dataServico')!.invalid && (editForm.get('dataServico')!.dirty || editForm.get('dataServico')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dataServico')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.servico.equipamento" for="field_equipamento">Equipamento</label>
          <select class="form-control" id="field_equipamento" data-cy="equipamento" name="equipamento" formControlName="equipamento">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                equipamentoOption.id === editForm.get('equipamento')!.value?.id ? editForm.get('equipamento')!.value : equipamentoOption
              "
              *ngFor="let equipamentoOption of equipamentosSharedCollection; trackBy: trackEquipamentoById"
            >
              {{ equipamentoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
