<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="equipamento">
      <h2 data-cy="equipamentoDetailsHeading"><span jhiTranslate="madmApp.equipamento.detail.title">Equipamento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ equipamento.id }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.numeroPatrimonio">Numero Patrimonio</span></dt>
        <dd>
          <span>{{ equipamento.numeroPatrimonio }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.numeroSerie">Numero Serie</span></dt>
        <dd>
          <span>{{ equipamento.numeroSerie }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.categoria">Categoria</span></dt>
        <dd>
          <span jhiTranslate="{{ 'madmApp.TipoCategoria.' + equipamento.categoria }}">{{ equipamento.categoria }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.fabricante">Fabricante</span></dt>
        <dd>
          <span>{{ equipamento.fabricante }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.modelo">Modelo</span></dt>
        <dd>
          <span>{{ equipamento.modelo }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.dataManutencao">Data Manutencao</span></dt>
        <dd>
          <span>{{ equipamento.dataManutencao | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.estadoConservacao">Estado Conservacao</span></dt>
        <dd>
          <span jhiTranslate="{{ 'madmApp.TipoEstadoConservacao.' + equipamento.estadoConservacao }}">{{
            equipamento.estadoConservacao
          }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.funcionando">Funcionando</span></dt>
        <dd>
          <span>{{ equipamento.funcionando }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.equipamento.responsavel">Responsavel</span></dt>
        <dd>
          <div *ngIf="equipamento.responsavel">
            <a [routerLink]="['/responsavel', equipamento.responsavel?.id, 'view']">{{ equipamento.responsavel?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/equipamento', equipamento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
