<div>
  <h2 id="page-heading" data-cy="InsumoHeading">
    <span jhiTranslate="madmApp.insumo.home.title">Insumos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="madmApp.insumo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-insumo"
        [routerLink]="['/insumo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="madmApp.insumo.home.createLabel"> Create a new Insumo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="insumos?.length === 0">
    <span jhiTranslate="madmApp.insumo.home.notFound">No insumos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="insumos && insumos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="madmApp.insumo.codInsumo">Cod Insumo</span></th>
          <th scope="col"><span jhiTranslate="madmApp.insumo.tipoInsumo">Tipo Insumo</span></th>
          <th scope="col"><span jhiTranslate="madmApp.insumo.fabricante">Fabricante</span></th>
          <th scope="col"><span jhiTranslate="madmApp.insumo.modelo">Modelo</span></th>
          <th scope="col"><span jhiTranslate="madmApp.insumo.responsavel">Responsavel</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let insumo of insumos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/insumo', insumo.id, 'view']">{{ insumo.id }}</a>
          </td>
          <td>{{ insumo.codInsumo }}</td>
          <td jhiTranslate="{{ 'madmApp.TipoInsumo.' + insumo.tipoInsumo }}">{{ insumo.tipoInsumo }}</td>
          <td>{{ insumo.fabricante }}</td>
          <td>{{ insumo.modelo }}</td>
          <td>
            <div *ngIf="insumo.responsavel">
              <a [routerLink]="['/responsavel', insumo.responsavel?.id, 'view']">{{ insumo.responsavel?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/insumo', insumo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/insumo', insumo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(insumo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
