<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-equipamento-heading" data-cy="EquipamentoCreateUpdateHeading" jhiTranslate="madmApp.equipamento.home.createOrEditLabel">
        Create or edit a Equipamento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.numeroPatrimonio" for="field_numeroPatrimonio"
            >Numero Patrimonio</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroPatrimonio"
            id="field_numeroPatrimonio"
            data-cy="numeroPatrimonio"
            formControlName="numeroPatrimonio"
          />
          <div
            *ngIf="
              editForm.get('numeroPatrimonio')!.invalid &&
              (editForm.get('numeroPatrimonio')!.dirty || editForm.get('numeroPatrimonio')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroPatrimonio')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.numeroSerie" for="field_numeroSerie">Numero Serie</label>
          <input
            type="text"
            class="form-control"
            name="numeroSerie"
            id="field_numeroSerie"
            data-cy="numeroSerie"
            formControlName="numeroSerie"
          />
          <div *ngIf="editForm.get('numeroSerie')!.invalid && (editForm.get('numeroSerie')!.dirty || editForm.get('numeroSerie')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroSerie')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.categoria" for="field_categoria">Categoria</label>
          <select class="form-control" name="categoria" formControlName="categoria" id="field_categoria" data-cy="categoria">
            <option [ngValue]="null">{{ 'madmApp.TipoCategoria.null' | translate }}</option>
            <option *ngFor="let tipoCategoria of tipoCategoriaValues" [value]="tipoCategoria">
              {{ 'madmApp.TipoCategoria.' + tipoCategoria | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('categoria')!.invalid && (editForm.get('categoria')!.dirty || editForm.get('categoria')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('categoria')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.fabricante" for="field_fabricante">Fabricante</label>
          <input
            type="text"
            class="form-control"
            name="fabricante"
            id="field_fabricante"
            data-cy="fabricante"
            formControlName="fabricante"
          />
          <div *ngIf="editForm.get('fabricante')!.invalid && (editForm.get('fabricante')!.dirty || editForm.get('fabricante')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fabricante')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.modelo" for="field_modelo">Modelo</label>
          <input type="text" class="form-control" name="modelo" id="field_modelo" data-cy="modelo" formControlName="modelo" />
          <div *ngIf="editForm.get('modelo')!.invalid && (editForm.get('modelo')!.dirty || editForm.get('modelo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('modelo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.dataManutencao" for="field_dataManutencao"
            >Data Manutencao</label
          >
          <div class="input-group">
            <input
              id="field_dataManutencao"
              data-cy="dataManutencao"
              type="text"
              class="form-control"
              name="dataManutencao"
              ngbDatepicker
              #dataManutencaoDp="ngbDatepicker"
              formControlName="dataManutencao"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataManutencaoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.estadoConservacao" for="field_estadoConservacao"
            >Estado Conservacao</label
          >
          <select
            class="form-control"
            name="estadoConservacao"
            formControlName="estadoConservacao"
            id="field_estadoConservacao"
            data-cy="estadoConservacao"
          >
            <option [ngValue]="null">{{ 'madmApp.TipoEstadoConservacao.null' | translate }}</option>
            <option *ngFor="let tipoEstadoConservacao of tipoEstadoConservacaoValues" [value]="tipoEstadoConservacao">
              {{ 'madmApp.TipoEstadoConservacao.' + tipoEstadoConservacao | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.funcionando" for="field_funcionando">Funcionando</label>
          <input
            type="checkbox"
            class="form-check"
            name="funcionando"
            id="field_funcionando"
            data-cy="funcionando"
            formControlName="funcionando"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.equipamento.responsavel" for="field_responsavel">Responsavel</label>
          <select class="form-control" id="field_responsavel" data-cy="responsavel" name="responsavel" formControlName="responsavel">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                responsavelOption.id === editForm.get('responsavel')!.value?.id ? editForm.get('responsavel')!.value : responsavelOption
              "
              *ngFor="let responsavelOption of responsavelsCollection; trackBy: trackResponsavelById"
            >
              {{ responsavelOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
