<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="insumo">
      <h2 data-cy="insumoDetailsHeading"><span jhiTranslate="madmApp.insumo.detail.title">Insumo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ insumo.id }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.insumo.codInsumo">Cod Insumo</span></dt>
        <dd>
          <span>{{ insumo.codInsumo }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.insumo.tipoInsumo">Tipo Insumo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'madmApp.TipoInsumo.' + insumo.tipoInsumo }}">{{ insumo.tipoInsumo }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.insumo.fabricante">Fabricante</span></dt>
        <dd>
          <span>{{ insumo.fabricante }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.insumo.modelo">Modelo</span></dt>
        <dd>
          <span>{{ insumo.modelo }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.insumo.responsavel">Responsavel</span></dt>
        <dd>
          <div *ngIf="insumo.responsavel">
            <a [routerLink]="['/responsavel', insumo.responsavel?.id, 'view']">{{ insumo.responsavel?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/insumo', insumo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
