<div>
  <h2 id="page-heading" data-cy="ResponsavelHeading">
    <span jhiTranslate="madmApp.responsavel.home.title">Responsavels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="madmApp.responsavel.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-responsavel"
        [routerLink]="['/responsavel/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="madmApp.responsavel.home.createLabel"> Create a new Responsavel </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="responsavels?.length === 0">
    <span jhiTranslate="madmApp.responsavel.home.notFound">No responsavels found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="responsavels && responsavels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="madmApp.responsavel.nomeDepartamento">Nome Departamento</span></th>
          <th scope="col"><span jhiTranslate="madmApp.responsavel.utilizacao">Utilizacao</span></th>
          <th scope="col"><span jhiTranslate="madmApp.responsavel.nomeResponsavel">Nome Responsavel</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let responsavel of responsavels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/responsavel', responsavel.id, 'view']">{{ responsavel.id }}</a>
          </td>
          <td>{{ responsavel.nomeDepartamento }}</td>
          <td>{{ responsavel.utilizacao }}</td>
          <td>{{ responsavel.nomeResponsavel }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/responsavel', responsavel.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/responsavel', responsavel.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(responsavel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
