<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="servico">
      <h2 data-cy="servicoDetailsHeading"><span jhiTranslate="madmApp.servico.detail.title">Servico</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ servico.id }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.servico.codServico">Cod Servico</span></dt>
        <dd>
          <span>{{ servico.codServico }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.servico.tipoServico">Tipo Servico</span></dt>
        <dd>
          <span jhiTranslate="{{ 'madmApp.TipoServico.' + servico.tipoServico }}">{{ servico.tipoServico }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.servico.descricao">Descricao</span></dt>
        <dd>
          <span>{{ servico.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.servico.dataServico">Data Servico</span></dt>
        <dd>
          <span>{{ servico.dataServico | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.servico.equipamento">Equipamento</span></dt>
        <dd>
          <div *ngIf="servico.equipamento">
            <a [routerLink]="['/equipamento', servico.equipamento?.id, 'view']">{{ servico.equipamento?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/servico', servico.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
